.card {
  border: 1px solid #e6e6e6;
  padding: 12px;
  border-radius: 8px;
  max-width: 480px;
  margin-top: 15px;
}
.header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.body {
  display: flex;
  gap: 12px;
  align-items: center;
}
.temp {
  font-size: 20px;
  font-weight: 700;
}
.desc {
  color: #555;
}
